@model MVCApplication.Models.Student

@{
    ViewBag.Title = "Details";
    Layout = "~/Views/Shared/_Layout.cshtml";
}

<h2>Details</h2>

<div>
    <h4>Student</h4>
    <hr />
    <dl class="dl-horizontal">
        <dt>
            @Html.DisplayNameFor(model => model.Student_ID)
        </dt>

        <dd>
            @Html.DisplayFor(model => model.Student_ID)
        </dd>

        <dt>
            @Html.DisplayNameFor(model => model.Student_Name)
        </dt>

        <dd>
            @Html.DisplayFor(model => model.Student_Name)
        </dd>

        <dt>
            @Html.DisplayNameFor(model => model.Student_Age)
        </dt>

        <dd>
            @Html.DisplayFor(model => model.Student_Age)
        </dd>

    </dl>
</div>
<p>
    @Html.ActionLink("Edit", "Edit", new { id = Model.Student_ID }) |
    @Html.ActionLink("Back to List", "StudentsList","Student")
</p>
