@model IEnumerable<MVCApplication.Models.Student>

@{
    ViewBag.Title = "Student";
    Layout = "~/Views/Shared/_Layout.cshtml";
}

<h2>Student</h2>

<p>
    @Html.ActionLink("Create New", "Create")
</p>
<table class="table">
    <tr>
        <th>
            @Html.DisplayNameFor(model => model.Student_ID)
        </th>
        <th>
            @Html.DisplayNameFor(model => model.Student_Name)
        </th>
        <th>
            @Html.DisplayNameFor(model => model.Student_Age)
        </th>
        <th></th>
    </tr>

@foreach (var item in Model) {
    <tr>
        <td>
            @Html.DisplayFor(modelItem => item.Student_ID)
        </td>
        <td>
            @Html.DisplayFor(modelItem => item.Student_Name)
        </td>
        <td>
            @Html.DisplayFor(modelItem => item.Student_Age)
        </td>
        <td>
            @Html.ActionLink("Edit", "Edit", new {  id=item.Student_ID }) |
            @Html.ActionLink("Details", "Details", new { id = item.Student_ID }) |
            @Html.ActionLink("Delete", "Delete", new { id = item.Student_ID })
        </td>
    </tr>
}

</table>
